<!-- served from routes in server.js -->
<!DOCTYPE html>
<html>
  <head>
    <title>embellist</title>
    <meta name="description" content="">
    <!-- <link rel="icon" type="image/png" href="assets/placeholder.png"> -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Gothic+A1:500" rel="stylesheet">
    <link href="https://sp-bootstrap.global.ssl.fastly.net/8.0.0/sp-bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/visuals.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/4.7.1/pixi.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.1.min.js" 
            integrity="sha384-8C+3bW/ArbXinsJduAjm9O7WNnuOcO+Bok/VScRYikawtvz4ZPrpXtGfKIewM9dK" 
            crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="sideCont">
        <button class="btn btn-primary" id="upload">Upload</button>
        <button class="btn btn-primary" id="retry">↺</button>
    </div>
    <div class="mainCont">
    </div>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="/visuals.js"></script>
    <script src="/client.js"></script>
  </body>
</html>
