* {
  box-sizing: border-box;
  font-family: 'Gothic A1', sans-serif;
  font-weight: 500;
}

body {
  text-align: center;
  margin-top: 100px;
  background: #222222;
  color: #fff;
}

header {
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px 40px 20px 40px;
}

main {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}

#logoLoggedOut {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}

#logoLoggedIn {
  width: 80px;
  position: absolute;
  top: 250px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.btn-primary, .btn-primary:active, .btn-primary:link, .btn-primary:visited {
  background-color: #29977F !important;
  color: #FFC858 !important;
}

.btn-primary:hover {
  background-color: #53AA97 !important;
  color: #FFC858 !important;
}

#loggedOut {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

#userInfo {
  position: absolute;
  height: 40px;
  width: 50%;
  margin-top: 5px;
  text-align: left;
}

#displayName {
  height: 100%;
  float:left;
  position: absolute;
  margin: 10px 0 0 50px;
}

.container {
  width: 20vw;
  border-radius: 30px;
  white-space: pre;
}

.container img {
  cursor: pointer;
}

.container h5 {
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#searchResults {
  padding-top: 20px; 
  display: grid;
  grid-template-columns: 20vw 20vw 20vw 20vw;
  grid-template-rows: auto; 
  grid-column-gap: 20px;
  grid-row-gap: 5px;
  justify-content: center;
}
